:root {
  --primaryColor: #16181c;
  --secondaryColor: #fcfaf6;
  --accentColor: #cb8ad3;
}

* {
  font-family: "Lexend Deca", sans-serif;
  text-align: start;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
